apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: peekaboo-indoor-playground
spec:
  template:
    metadata:
      annotations:
        run.googleapis.com/cpu-throttling: "false"
        autoscaling.knative.dev/minScale: "1"
    spec:
      containerConcurrency: 60
      containers:
        - image: gcr.io/PROJECT_ID/peekaboo:latest
          ports:
            - containerPort: 8080
          env:
            - name: NODE_ENV
              value: production
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
